<h1>Upload Photos</h1>
<form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
  <h2>Select an image to upload:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
  <div><input type="submit" value="Upload Image"></div>
</form>

<p id="message">{{message}}</p>

<hr>
